resources/meta.csv filter=lfs diff=lfs merge=lfs -text
resources/meta.json filter=lfs diff=lfs merge=lfs -text
resources/more/vectors/vectordist_dm_alldistances_unweighted.csv filter=lfs diff=lfs merge=lfs -text
resources/more/vectors/vectordist_dm_alldistances.csv filter=lfs diff=lfs merge=lfs -text
resources/more/vectors/vectordist_dm_cosine_unweighted.csv filter=lfs diff=lfs merge=lfs -text
resources/more/vectors/vectordist_dm_cosine.csv filter=lfs diff=lfs merge=lfs -text
resources/more/vectors/vectordist_dm_euclidean_unweighted.csv filter=lfs diff=lfs merge=lfs -text
resources/more/vectors/vectordist_dm_euclidean.csv filter=lfs diff=lfs merge=lfs -text
resources/more/vectors/vectordist_dm_manhattan_unweighted.csv filter=lfs diff=lfs merge=lfs -text
resources/more/vectors/vectordist_dm_manhattan.csv filter=lfs diff=lfs merge=lfs -text
